{% extends 'base.html' %}

{% block main_content %}

<form action="/donate" method="post">
    <label for="title">Title: </label>
    <input name="title" type="text" id="title">
    <label for="author">Author: </label>
    <input name="author" type="text" id="author">
    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre">
    <label for="available">Donating now?  </label>
    <input type="checkbox" name="available" id="available">
    <input type="submit" value="Donate book!">
</form>
    
{% endblock %}